table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

td {
    background: #a5a5a5;
}

th {
    background: #5a5a5a;
    color: #ddd;
}

#list {
    overflow-y: scroll;
    height: 350px;
}

#embedded-video {
    height: 50%;
    width: 60%;
}

#footer {
    background: #f8f9fa;
    height: 45px;
}

.footer,
.footer span {
    color: #000;
    padding: 10px;
}

.btn-primary {
    width: 75px;
}

#pageDescription {
    margin: 80px auto 0 auto;
    width: 60%;
}

#instructions {
    margin-right: 20px;
    opacity: .75;
}

table {
    table-layout: fixed;
}

table,
td,
th {
    border-radius: 8px;
    padding: 5px;
}